<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0"
          xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
          xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 http://maven.apache.org/xsd/settings-1.0.0.xsd">
    <profiles>
        <profile>
            <id>face_recog</id>
            <repositories>
                <repository>
                    <id>face.recog</id>
                    <name>Face recognition</name>
                    <url>file:///Users/chloe/GitApplications/temp/face_recognition_sanstorik/repo</url>
                </repository>
            </repositories>
        </profile>
    </profiles>

    <activeProfiles>
        <activeProfile>face_recog</activeProfile>
    </activeProfiles>
</settings>