<web-app xmlns="http://java.sun.com/xml/ns/javaee" version="2.5">
    <welcome-file-list>
        <welcome-file>index.jsp</welcome-file>
    </welcome-file-list>

    <servlet>
        <servlet-name>users_api</servlet-name>
        <servlet-class>org.sanstorik.http_server.server.HttpServer</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>users_api</servlet-name>
        <url-pattern>/api/login</url-pattern>
        <url-pattern>/api/login_photo</url-pattern>
        <url-pattern>/api/register</url-pattern>
        <url-pattern>/api/highlight_faces</url-pattern>
        <url-pattern>/api/faces_coordinates</url-pattern>
        <url-pattern>/api/eyes_coordinates</url-pattern>
        <url-pattern>/api/identify_group</url-pattern>
        <url-pattern>/api/update_user_photo</url-pattern>
        <url-pattern>/api/crop_face</url-pattern>
        <url-pattern>/api/non_token_crop_face</url-pattern>
        <url-pattern>/api/authorize_photo</url-pattern>
    </servlet-mapping>
</web-app>